.user-info {
  display: block;
  position: relative;
  float: right;
  height: 40px;
  width: 100px;
}

.user-name {
  position: absolute;
  top: 0;
  right: 50px;
  height: 40px;
  min-width: 20px;
  padding-top: 5px;
  color: white;
  font-size: 20px;
}

.user-avatar {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media(min-width: 768px) {
  .user-info {
    min-width: 200px;
  }
}

@media(min-width: 1150px) {
  .user-info {
    min-width: 200px;
  }
}