.user-info {
  display: block;
  position: relative;
  float: right;
  height: 40px;
  width: 100%;
}

.user-login,
.user-login__fieldset {
  margin: 0;
  padding: 0;
}

#user-login__input {
  height: 30px;
  width: 30%;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 2px;
  
  &:disabled {
    background-color: #9b4dca;
    color: #fff;
    text-decoration: underline;
    border: 0;
  }
}

.user-name {
  position: absolute;
  top: 0;
  right: 50px;
  height: 40px;
  min-width: 20px;
  padding-top: 5px;
  color: white;
  font-size: 20px;
}

.user-avatar {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media(min-width: 768px) {
  .user-info {
    min-width: 200px;
  }
}

@media(min-width: 1150px) {
  .user-info {
    min-width: 200px;
  }
}