div.user-info
  form.user-login
    fieldset.user-login__fieldset
      input(id='user-login__input' class='user-login__input' type='text' placeholder='Войти')
  div.user-name #{username}
  img(class='user-avatar' src=`${avatar}`)