form.form
  fieldset.form__fieldset
    textarea(id='commentField' class='form__commentfield' placeholder='Введите сообщение')
    p.form__commentfield-hint SHIFT+ENTER - отправить
    input(class='button form__button' type='submit' value='отправить')