.chat-wrapper {
  display: block;
  position: relative;
  margin: 0;
  padding: 10px;
  height: 95vh;
  width: 100vw;
  border-radius: 2px;
  box-shadow: 0 6px 10px 0 gray;
  opacity: 0.2;
}

.chat-header {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background-color: #9b4dca;
  font-family: "Roboto";
}

.chat-version {
  display: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  margin: 0;
  padding: 8px 0;
  color: #606c76;
  font-size: 10px;
  font-style: italic;
}

@media(min-width: 768px) {
  .chat-wrapper {
    margin: 0 auto;
    width: 740px;
    height: 95vh;
  }
  
  .chat-version {
  }
}

@media(min-width: 1150px) {
  .chat-wrapper {
    width: 500px;
    height: 700px;
  }
  
  .chat-version {
    display: block;
  }
}