.chat-wrapper {
  display: block;
  margin: 10px auto;
  padding: 10px;
  min-height: 300px;
  width: 320px;
  border-radius: 2px;
  box-shadow: 0 6px 10px 0 gray;
  
  /*#9b4dca*/
}

.chat-header {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background-color: #9b4dca;
  font-family: "Roboto";
}

.chat-header h3 {
  display: block;
  float: left;
  color: white;
  margin-bottom: 0;
  padding: 8px 0;
  font-weight: 400;
  font-size: 20px;
}

@media(min-width: 768px) {
  .chat-wrapper {
    width: 740px;
  }
  
  .chat-header h3 {
    
  }
}

@media(min-width: 1150px) {
  .chat-wrapper {
    width: 500px;
  }
  
  .chat-header h3 {
    
  }
}