div.message
  img(class='message__avatar' src=`${avatar}`)
  div.message__time #{submitted}
  div.message__decor
  div.message__text
    div.message__username #{username}
    div.message__data #{message}