p {
  margin-bottom: 10px;
}

.chat {
  height: 354px;
  margin: 0;
  /*padding: 10px;*/
  padding: 0;
  background-color: #f2f1f9;
  font-size: 12px;
  color: #000;
  border: 1px solid rgb(209, 209, 209);
  border-bottom: 0;
  overflow-y: scroll;
}

.message {
  position: relative;
  width: 100%;
  min-height: 80px;
  padding: 10px;
  /*box-shadow: 0 3px 5px 0 gray;*/
  border-bottom: 1px solid #bababa;
  background-color: #fff;
}

.message:hover {
  border-radius: 3px;
  background-color: #e3f4f6;
}

.message:hover .message__arrow {
  display: block;
}

.message__avatar {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.message__time {
  position: absolute;
  left: 5px;
  top: 60px;
  margin-left: 3px;
  padding: 0 5px;
  width: 50px;
  font-style: italic;
  font-size: 10px;
}

.message__text {
  margin-left: 80px;
  padding: 5px;
}

.message__username {
  font-style: italic;
  font-weight: 700;
}

.message__arrow {
  display: none;
  position: absolute;
  top: 15px;
  left: 400px;
  height: 20px;
  width: 20px;
}

.message__arrow:hover {
  transform: scale(0.9);
  transition: 100ms ease-in;
  cursor: pointer;
}

.message__arrow-svg {
  fill: #9b4dca;
}

.message__data {
  max-width: 300px;
  font-size: 14px;
}

.chat::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.chat::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.chat::-webkit-scrollbar-thumb {
	background-color: #9b4dca;
}


@media(min-width: 768px) {
  .chat {
    min-height: 800px;
  }
}

@media(min-width: 1150px) {
  .chat {
    min-height: 500px;
  }
}