section.modal
  p.modal-info Введите имя и нажмите ENTER
  form.modal-login
    fieldset.modal-login__fieldset
      input(id='modal-login__input' class='modal-login__input' type='text' placeholder='Войти')